<h2 style="display: inline">My passwords</h2>
<div class="col-md-2 col-same-height" style="float:right">
  <input type="search" ng-model="filter" class="form-control" ng-change="updateFilter()" placeholder="Filter"></input>
</div>
<br/>
<br/>

<!-- <form class="navbar-form navbar-right" role="search"> -->
<!--     <div class="form-group"> -->
<!--         <input type="search" class="form-control" placeholder="Filter"> -->
<!--     </div> -->
<!-- </form> -->

<table>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Site</th>
    <th>Password</th>
    <th><button type="button" class="btn btn-success" ng-click="addPassword();">+</button></th>
  </tr>
  <tr ng-repeat='password in passwords' ng-hide="hidden[$index]">
    <td><input class="form-control" ng-value="password.title" ng-model="password.title" placeholder="Enter title..."></input></td>
    <td><input class="form-control" ng-value="password.site" ng-model="password.site" placeholder="Enter site..."></input></td>
    <td><input class="form-control" type="password" ng-model="password.password" ng-value="password.password" placeholder="Enter password..."></input></td>
    <td><button type="button" class="btn btn-danger" ng-click="removePassword($index);">X</button></td>
  </tr>
</table>
<button type="button" class="btn btn-success" ng-disabled="inProgress" ng-click="submitPasswords();">Submit</button>
